html{
    height: 100%;
}

body{
    background-color:white;
    height: 100%;
}

.container{
    
}

.catalog{
    background-color: white;
    width: 80%;
    height: 100%;
    overflow: auto;
   
}

.container, .row{
    
}

.product-container{
    border-style: solid;
    border-radius: 15%;
    height: 15em;
    max-height: 5%;
    max-width: 15em;
    width: 15em;
    margin-left:2%;
}

#sidebar{
    background-color: white;
    width: 100%;
    left: 0;
}

#image-layer{
    position: relative;
    left: 0;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
}

#filter-table {
    z-index: 99;
    background-color: green;
    padding-top: 0%;    
}

#left-item{
    width: 20%;
    background-color: white;
    vertical-align: top;
    overflow: auto;
    height: 100%;
    margin-bottom: 9999999;
    padding-bottom: -9999999;
}

div[ng-view]{
    height: 100%;
}