body{
    background-color:gray;
}

.container{
    
}

.catalog{
    background-color: white;
    width: 75%;
    height: 100%;
   
}

.product-container{
    border-style: solid;
    border-radius: 15%;
    height: 15em;
    max-height: 5%;
    max-width: 15em;
    width: 15em;
}

#sidebar{
    background-color: white;
    width: 100%;
    left: 0;
}

#image-layer{
    position: relative;
    left: 0;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
}

#filter-table {
    z-index: 99;
    background-color: green;
    padding-top: 0%;    
}

#left-item{
    width: 20%;
    height: 100%;
    background-color: green;
    vertical-align: top;
}